{{#each blogs as |blog| }}
<div class="card text-white bg-dark mb-3" style="max-width: 50rem;">
  {{!-- <div class="card-header">{{blog.title}}  <p>Created by {{user.name}} on {{format_date date_created}}</p></div> --}}
    <div class="card-header">{{blog.title}}  <p>Created by {{user.name}} on {{blog.created_at}}</p></div>

  <div class="card-body">
    <p class="card-text">{{blog.description}}.</p>
  </div>
</div>
{{/each}}

{{!-- {{#each blog}} --}}
{{!-- <div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{blog.title}} {{user.name}} {{blog.createdAt}}</h2>
  </div>
  <div class="col-md-6">
    <p>{{blog.description}}</p>
  </div>
</div> --}}
{{!-- {{/each}} --}}
